#**
Grid FTP Client Portlet
@author <a href="mailto:lifang@extreme.indiana.edu">Liang Fang</a>
**#
<center>
  <table border=5 bgcolor="$!{skin.Color}">
    <tr>
      <th class="title">
        Grid FTP Client
      </th>
    </tr>
  </table>
</center>

<form action="$jslink.Template" method="post">
  <font color="$!{skin.Color}">
    <input type="radio" name=rol value="local"> One Host Only &nbsp &nbsp <input type="radio" name=rol value="remote" checked> Two Hosts <br/><br/>
    Please specify the Grid FTP Host 1:<br/>
    <input type=text name=host1 value="$!host1" size="32">
    Port:
    <input type=text name=port1 value="$!port1" size="5"><br/><br/>
    Please specify Grid FTP Host 2, if you choose "Two Hosts":<br/>
    <input type=text name=host2 value="$!host2" size="32">
    Port:
    <input type=text name=port2 value="$!port2" size="5"><br/><br/><br/>
    <input type="submit" name="eventSubmit_doCustomize" value="Enter"/><br/>
  </font>
</form>



