<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence">
  <persistence-unit name="dataportal" transaction-type="JTA">
    <jta-data-source>jdbc/oracle</jta-data-source>
    <class>uk.ac.dl.dp.coreutil.entity.Session</class>
    <class>uk.ac.dl.dp.coreutil.entity.User</class>
    <class>uk.ac.dl.dp.coreutil.entity.Role</class>
    <class>uk.ac.dl.dp.coreutil.entity.Bookmark</class>
    <class>uk.ac.dl.dp.coreutil.entity.Facility</class>
    <class>uk.ac.dl.dp.coreutil.entity.ModuleLookup</class>
    <class>uk.ac.dl.dp.coreutil.entity.ProxyServers</class>
    <class>uk.ac.dl.dp.coreutil.entity.Url</class>
    <class>uk.ac.dl.dp.coreutil.entity.Tokens</class>
    <class>uk.ac.dl.dp.coreutil.entity.SrbServer</class>
    <class>uk.ac.dl.dp.coreutil.entity.EventLogDetails</class>
    <class>uk.ac.dl.dp.coreutil.entity.EventLog</class>
    <class>uk.ac.dl.dp.coreutil.entity.Event</class>
    <class>uk.ac.dl.dp.coreutil.entity.DataReference</class>
    <class>uk.ac.dl.dp.coreutil.entity.CredentialType</class>
    <class>uk.ac.dl.dp.coreutil.entity.DataRefAuthorisation</class>
    <class>uk.ac.dl.dp.coreutil.entity.DataRefAuthorisationPK</class>
    <class>uk.ac.dl.dp.coreutil.entity.DpUserPreference</class>
    <class>uk.ac.dl.dp.coreutil.entity.DPConstants</class>
    <properties>
      <!--                       
              Do not put these classes in session cache, always do a SQL select to get the results, ie no cache
              This is in case out side changes the config in the DB
          
            <property name="toplink.cache.shared.ModuleLookup" value="false"/>
            <property name="toplink.cache.shared.ProxyServers" value="false"/>
              -->
    </properties>
  </persistence-unit>
  <persistence-unit name="dataportal_unit_test" transaction-type="RESOURCE_LOCAL">
    <provider>oracle.toplink.essentials.ejb.cmp3.EntityManagerFactoryProvider</provider>
    <class>uk.ac.dl.dp.coreutil.entity.Session</class>
    <class>uk.ac.dl.dp.coreutil.entity.User</class>
    <class>uk.ac.dl.dp.coreutil.entity.Role</class>
    <class>uk.ac.dl.dp.coreutil.entity.Bookmark</class>
    <class>uk.ac.dl.dp.coreutil.entity.Facility</class>
    <class>uk.ac.dl.dp.coreutil.entity.ModuleLookup</class>
    <class>uk.ac.dl.dp.coreutil.entity.ProxyServers</class>
    <class>uk.ac.dl.dp.coreutil.entity.Url</class>
    <class>uk.ac.dl.dp.coreutil.entity.Tokens</class>
    <class>uk.ac.dl.dp.coreutil.entity.SrbServer</class>
    <class>uk.ac.dl.dp.coreutil.entity.EventLogDetails</class>
    <class>uk.ac.dl.dp.coreutil.entity.EventLog</class>
    <class>uk.ac.dl.dp.coreutil.entity.Event</class>
    <class>uk.ac.dl.dp.coreutil.entity.DataReference</class>
    <class>uk.ac.dl.dp.coreutil.entity.CredentialType</class>
    <class>uk.ac.dl.dp.coreutil.entity.DataRefAuthorisation</class>
    <class>uk.ac.dl.dp.coreutil.entity.DataRefAuthorisationPK</class>
    <class>uk.ac.dl.dp.coreutil.entity.DpUserPreference</class>
    <class>uk.ac.dl.dp.coreutil.entity.DPConstants</class>
  <!--  <properties>
      <property name="toplink.jdbc.driver" value="oracle.jdbc.xa.client.OracleXADataSource"/>
      <property name="toplink.jdbc.url" value="jdbc:oracle:thin:@volga.dl.ac.uk:1521:XE"/>
      <property name="toplink.jdbc.user" value="dp5user"/>
      <property name="toplink.jdbc.password" value="dp5pass"/>
      <property name="toplink.logging.level" value="FINE"/>
    </properties>
  </persistence-unit>-->
<properties>
      <property name="toplink.jdbc.driver" value="oracle.jdbc.xa.client.OracleXADataSource"/>
      <property name="toplink.jdbc.url" value="jdbc:oracle:thin:@(DESCRIPTION= (LOAD_BALANCE=on) (ADDRESS=(PROTOCOL=TCP)(HOST=honey.esc.rl.ac.uk) (PORT=1521)) (ADDRESS=(PROTOCOL=TCP)(HOST=goodnight.esc.rl.ac.uk)(PORT=1521)) (ADDRESS=(PROTOCOL=TCP)(HOST=sapphire.esc.rl.ac.uk)(PORT=1521)) (ADDRESS=(PROTOCOL=TCP)(HOST=domino.esc.rl.ac.uk)(PORT=1521)) (CONNECT_DATA=(SERVICE_NAME=dpdls.esc.rl.ac.uk)))"/>
      <property name="toplink.jdbc.user" value="DPDLS"/>
      <property name="toplink.jdbc.password" value="ajdn1fr"/>
      <property name="toplink.logging.level" value="FINE"/>
    </properties>
  </persistence-unit>
</persistence>
