td
{
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 11px;
}
td.blue
{
	background-color: #F5F9FF
}
body
{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0
}
a:link
{
	color: #800000;
	text-decoration: none
}
a:visited
{ 
	color: #800000;
	text-decoration: none
}
a:hover
{ 
	color: #990000;
	text-decoration: underline
}
a:active
{ 
	color: #990000;
	text-decoration: none
}
input 
{
	border: 1px solid #000000;
	margin: auto;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 11px
}
select
{
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 11px
}
textarea
{
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 11px
}