unix-sdsc
Sannotate|/home/srb/rajatest/binold|1581720|Solaris Executable|/misc/srb/sekar/srb/SRB2_0_0rel/utilities/binold/Sannotate
Sappend|/home/srb/rajatest/binold|1582304|Solaris Executable|/misc/srb/sekar/srb/SRB2_0_0rel/utilities/binold/Sappend
Entries|/home/srb/rajatest/binold/CVS|2|generic|/misc/srb/sekar/srb/SRB2_0_0rel/utilities/binold/CVS/Entries
Root|/home/srb/rajatest/binold/CVS|47|generic|/misc/srb/sekar/srb/SRB2_0_0rel/utilities/binold/CVS/Root
<<END>>