## Xiaobo Yang, CCLRC e-Science Centre, 14 December 2004
##
<div class="chefPortletContainer">
  #if ($menu)
    #toolbar($menu)
  #end
  <div class="chefPortletContent">
    #if ($alertMessage)
      <div class="chefAlertBox">
        Alert: $validator.escapeHtml($alertMessage)
      </div>
    #end
    <div class="chefPageviewTitle">
      Your available GSI proxy credentials are shown below.
    </div>
##
    <fieldset>
      <legend>GSI Proxy Credentials</legend>
      <table class="chefEditItem" summary="GSI Proxy Credentials">
        <tr>
          #set( $proxy_keys=$proxies.keys())
          #foreach ($hash in $proxy_keys)
            <form name="$form-name" id="$form-name" action="#toolForm("$action")" method="post">
              <input type="hidden" name="proxy" value="$hash">
              <tr>
                #if ("$hash"=="$default_proxy" || $proxies.size()==1 || ("$!default_proxy"=="" && "$!proxy_first"==""))
                  #set ($proxy_first="true")
                  <td align="middle">(default proxy)</td>
                #else
                  <td align="left">
                    <div class="chefButtonRow">
                      <input type="submit" name="eventSubmit_doSetdefaultproxy" value="Set as default">
                    </div>
                  </td>
                #end
                <td align="left"> 
                  &nbsp $proxies.get($hash).getName().toString() &nbsp
                </td>
                <td align="left">
                  <div class="chefButtonRow">
                    <input type="submit" name="eventSubmit_doViewproxy" value="View">
                  </div>
                </td>
                <td align="left">
                  <div class="chefButtonRow">
                    <input type="submit" name="eventSubmit_doDestroyproxy" value="Remove">
                  </div>
                </td>
              </tr>
            </form>
          #end
##
          #if ((!$proxies) || ($proxies.size()==0))
            <tr>
              <td>No proxies currently loaded</td>
            </tr>
          #end
      </table>
##
      #if ($status)
        <font style="color: green">$status</font>
      #end
##
    </fieldset>
  </div>
##
  <div class="chefPortletContent">
    <form name="$form-name" id="$form-name" action="#toolForm("$action")" method="post">
      <fieldset>
        <legend>Get New Proxy</legend>
        Click the button below to add 
        #if ($proxies)
          another 
        #else
          a
        #end
        GSI proxy credential to your account:
        <div class="chefButtonRow">
          <input type="submit" name="eventSubmit_doGetproxyscreen" value="Get New Proxy">
        </div>
      </fieldset>
    </form>
  </div>
##
</div>
