<html>
<head>
	<title>NGS Portal Demo</title>
</head>

<body>
<font face="Arial">


<center><h2>Registration Complete with following details<center></h2>

<table width="40%" height="10%" cellspacing="10%">
<tr>
       <td align="right"><b>Name:</b></td>
       <td>$name</td>
</tr>
<tr>
       <td align="right"><b>Instituition:</b></td>
       <td>$instituition</td>
</tr>
<tr>
       <td align="right"><b>Email:</b></td>
       <td>$email</td>
</tr>
<tr>
</table>


<form action="$jslink.Template" method="post">
    <input type="submit" name="eventSubmit_doReturn" value="Click here to continue">
</form>

</body>
</html>
