## Xiaobo Yang, CCLRC e-Science Centre, 14 December 2004
##
<div class="chefPortletContainer">
  #if ($menu)
    #toolbar($menu)
  #end
  <div class="chefPortletContent">
    #if ($alertMessage)
      <div class="chefAlertBox">
        Alert: $validator.escapeHtml($alertMessage)
      </div>
    #end
    <div class="chefPageviewTitle">
      Set GRAM job parameters, fields marked with <font color="red">*</font> are required.
    </div>
##
    <form name="$form-name" id="$form-name" action="#toolForm("$action")" method="post">
      <fieldset>
        <legend>GRAM Job Settings</legend>
        <table class="chefEditItem" summary="Setting GRAM job parameters">
          <tr>
            <td class="chefLabel">
              <label for="gjl_hostname">Host Name<font color="red">*</font>:</label>
            </td>
            <td>
    ## Xiaobo Yang, 30 November 2004
      <select name="gjl_hostname">
        #foreach($host in $GJL_HOSTLIST)
          <option value="$host"
##            #if($host==$GJL_EXEC_HOST)
            #if($host==$GJL_PARAMETERS.Hostname)
              selected
            #end
          >$host
        #end
      </select>
##              <input type="text" name="execHost" id="execHost"" value="$!{GJL_EXEC_HOST}"/>
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="gjl_jobmanager">Job Manager:</label>
            </td>
            <td>
              <input type="text" name="gjl_jobmanager" id="gjl_jobmanager" size=30 value="$!GJL_PARAMETERS.Jobmanager"/>
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="gjl_executable">Executable<font color="red">*</font>:</label>
            </td>
            <td>
              <input type="text" name="gjl_executable" id="gjl_executable" size=30
                #if ($GJL_PARAMETERS.Executable && $GJL_PARAMETERS.Executable!="")
                  value="$GJL_PARAMETERS.Executable"
                #else
                  value="/bin/ls"
                #end
              />
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="gjl_arguments">Arguments:</label>
            </td>
            <td>
              <input type="text" name="gjl_arguments" id="gjl_arguments" size=30 value="$!GJL_PARAMETERS.Arguments"/>
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="gjl_workingdirectory">Working Directory:</label>
            </td>
            <td>
              <input type="text" name="gjl_workingdirectory" id="gjl_workingdirectory" size=30 value="$!GJL_PARAMETERS.Directory"/>
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="gjl_stdin">Standard Input File:</label>
            </td>
            <td>
              <input type="text" name="gjl_stdin" id="gjl_stdin" size=30 value="$!GJL_PARAMETERS.Stdin"/>
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="gjl_stdout">Standard Output File:</label>
            </td>
            <td>
              <input type="text" name="gjl_stdout" id="gjl_stdout" size=30 value="$!GJL_PARAMETERS.Stdout"/>
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="gjl_stderr">Standard Error File:</label>
            </td>
            <td>
              <input type="text" name="gjl_stderr" id="gjl_stderr" size=30 value="$!GJL_PARAMETERS.Stderr"/>
            </td>
          </tr>
#macro (GJLJobType $fieldname $value)
  <input type="radio" value="GRAMJOB_INTERACTIVE" name="$fieldname"
    #if ($value=="GRAMJOB_INTERACTIVE") checked #end
  >Interactive
  <input type="radio" value="GRAMJOB_BATCH" name="$fieldname"
    #if ($value=="GRAMJOB_BATCH") checked #end
  >Batch
#end
##
#if (!$gjl_jobtype)
  #set ($gjl_jobtype="GRAMJOB_BATCH")
#end
          <tr>
            <td class="chefLabel">
              <label for="gjl_jobtype">Job type<font color="red">*</font>:</label>
            </td>
            <td>#GJLJobType("gjl_jobtype" $!gjl_jobtype)</td>
          </tr>
        </table>
      </fieldset>
##
      <div class="chefButtonRow">
        <input type="submit" name="eventSubmit_doLaunch" value="Launch Job"/>
      </div>
##
    </form>
  </div>
##
  #if ($gjl_result || $gjl_jobid) ## job has output
    <div class="chefPortletContent">
      <form name="$form-name" id="$form-name" action="#toolForm("$action")" method="post">
        <fieldset>
          <legend>GRAM Job Result</legend>
          <table class="chefEditItem" summary="GRAM job result.">
            <tr>
              #if ($gjl_result) ## interactive job output
                <td class="chefLabel">
                  <label for="gjl_jobresult">Interactive Job Output:</label>
                </td>
                <td>$gjl_result</td>
              #else ## batch job output -- jobid
                <td class="chefLabel">
                  <label for="gjl_jobid">Batch JobID:</label>
                </td>
                <td>$gjl_jobid</td>
              #end
            </tr>
          </table>
        </filedset>
      </form>
    </div>
  #end
##
</div>
