#**
 Grid FTP Browser
@author <a href="mailto:lifang@extreme.indiana.edu">Liang Fang</a>
**#

#if (!$files2)
  #set ( $headings1 = ["Name", "Size", "Time", ""] )
#else
  #set ( $headings1 = ["Name", "Size", "Time", "", ""] )
  #set ( $headings2 = ["", "Name", "Size", "Time", ""] )
#end

#if(!$errmsg)
  #set ( $link = $jslink.getPortletById($portlet.ID).addQueryData("eventSubmit_doShow_progress","") )
  <table width=100%>
    <tr>
	<td>
	   <a href= "${link}">
              View current transfers
	   </a>
        </td>
    </tr>
  </table>
  <table width=100%>
    <tr>
      <td valign="top">
        <table border="true" cellspacing="1" cellpadding="3" width=100%>
          <form name="transfer" action="$jslink.Template" method="post">
            <tr>
              <td width="100%" colspan="5"> 
              #if($files2)
                #set ($link=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${home1}").addQueryData("host2", $host2).addQueryData("port2", $port2).addQueryData("path2", "${currdir2}"))
              #else
                #set ($link=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${home1}"))
              #end
                <a href=${link}>Grid FTP Host 1: $host1:${port1}</a> ${currdir1}
              </td>
            </tr>
            <tr bgcolor="$!{skin.Color}">
              #foreach ($heading in $headings1)
                <th style="font-size:14">$heading</th>
              #end
            </tr>
            <tr>
              #if($files2)	      
                #set ($list=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${parentdir1}").addQueryData("host2", $host2).addQueryData("port2", $port2).addQueryData("path2", "${currdir2}"))
              #else
                #set ($list=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${parentdir1}"))
              #end
              <td><a href=${list}><img src="images/xportlets/back.gif" border="0"></a>
              ../</td>&nbsp<td></td><td></td><td></td>
            </tr>
            #foreach ($file in $files1)
              <tr>
	        #if ($file.isFile=="1")
                  <td><img src=$file.Piclink alt=file  border="0">
                #else
                  #if($files2)
	            #set ($list=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${currdir1}/${file.Name}").addQueryData("host2", $host2).addQueryData("port2", $port2).addQueryData("path2", "${currdir2}"))
                  #else
                    #set ($list=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${currdir1}/${file.Name}"))
                  #end
 	          <td> <a href=$list><img src=$file.Piclink alt=folder border="0"></a>
                #end
                $file.Name</td>
                #entryCell ($file.Size)
                #entryCell ($file.Time)
                #if ($file.isFile=="1")
                  <td><a href=${download1}${file.Name} target=_blank><img src=images/xportlets/download.gif alt=download border="0"></a></td>
                  #if ($files2)
	            <td> <input type="checkbox" name=filename value=$file.Name > </td>
                  #else
                     <td></td>                  
                  #end
                #else
                  <td></td>
                  <td></td>
                #end
              </tr>
            #end 
            #if($files2)
              <tr>
                <td width="100%" align="right" colspan="5">
                  <input type=hidden name=srchost value=$host1>
                  <input type=hidden name=dsthost value=$host2>
                  <input type=hidden name=srcport value=$port1>
                  <input type=hidden name=dstport value=$port2>
                  <input type=hidden name=srcpath value=$currdir1>
                  <input type=hidden name=dstpath value=$currdir2>
                  <input type=reset>
                  <input type=submit name="eventSubmit_doUrlcopy" value="Transfer-->">
                </td>
              </tr>
            #end
          </form>
	  <tr><td width="100%" colspan="5">
            <font style="font-size:14">Upload file:</font>
            <form name="upload" action="$jslink.Template" enctype="multipart/form-data" method="post">
            <input type=file name=uploadfilename>
            <input type=hidden name=dsthost value=$host1>
            <input type=hidden name=dstport value=$port1>
            <input type=hidden name=dstpath value=$currdir1>
            <input type=submit name="eventSubmit_doUpload" value="Upload File">
            <input type=reset value="Reset"></form>
          </td></tr>
        </table>
      </td>
      #if($files2)        
        <td valign="top"><br/>
          <table border="true" cellspacing="1" cellpadding="3" width=100%>  	
            <form name="transfer" action="$jslink.Template" method="post">
              <tr>
                <td width="100%" colspan="5">
                  #set ($link=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host2", $host2).addQueryData("port2", $port2).addQueryData("path2", "${home2}").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${currdir1}"))
                  <a href=${link}>Grid FTP Host 2: $host2:${port2}</a> ${currdir2}
                </td>
              </tr>
	      <tr bgcolor="$!{skin.Color}" >
                #foreach ($heading in $headings2)
                  <th style="font-size:14">$heading</th>
                #end
              </tr>
              <tr>	      
                <td></td>
                #set ($list=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host2", $host2).addQueryData("port2", $port2).addQueryData("path2", "${parentdir2}").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${currdir1}"))
                <td><a href=${list}><img src="images/xportlets/back.gif" border="0"></a>
                ../</td><td></td><td></td>
              </tr>
              #foreach ($file in $files2)
                <tr>                  
	          #if ($file.isFile=="1")
                    <td><input type="checkbox" name=filename value=$file.Name ></td>
                    <td><img src=$file.Piclink alt=file border="0"> $file.Name</td>
                  #else
                    <td></td>                    
	            #set ($list=$jslink.getAction("xportlets.GridFTPClientAction", "doList").addQueryData("host2", $host2).addQueryData("port2", $port2).addQueryData("path2", "${currdir2}/${file.Name}").addQueryData("host1", $host1).addQueryData("port1", $port1).addQueryData("path1", "${currdir1}"))
 	            <td> <a href=$list><img src=$file.Piclink alt=folder border="0"></a>$file.Name</td>
                  #end
                  #entryCell ($file.Size)
                  #entryCell ($file.Time)
                  #if ($file.isFile=="1")
                    <td><a href=${download2}${file.Name} target="_blank"><img src=images/xportlets/download.gif alt=download border="0"></a></td>
                  #else
                    <td></td>
                    <td></td>
                  #end
                </tr>
              #end
              #if($files1)
                <tr>
                  <td width=100% align="left" colspan="5">
                  <input type=hidden name=srchost value=$host2>
                  <input type=hidden name=dsthost value=$host1>
                  <input type=hidden name=srcport value=$port2>
                  <input type=hidden name=dstport value=$port1>
                  <input type=hidden name=srcpath value=$currdir2>
                  <input type=hidden name=dstpath value=$currdir1>
                  <input type="submit" name="eventSubmit_doUrlcopy" value="<--Transfer">
                  <input type="reset">
                  </td>
                </tr>
              #end
              </form>
              <tr>
                <td width=100% colspan="5">
                <font style="font-size:14">Upload file:</font>
                <form name="upload" action="$jslink.Template" enctype="multipart/form-data" method="post">
                <input type=file name=uploadfilename>
                <input type=hidden name=dsthost value=$host2>
                <input type=hidden name=dstport value=$port2>
                <input type=hidden name=dstpath value=$currdir2>
                <input type=submit name="eventSubmit_doUpload" value="Upload File">
                <input type=reset value="Reset"></form>
                </td>
              </tr>
            </table>
        </td>
      #end
    </tr>
  </table>

  <br/><br/><hr/>

#else
  Error: $errmsg <br/>
#end

#if($status)
  Status: $status <br/>
#end

#if($debugmsg)
##Debug Message: $debugmsg <br/>
#end

<a href="javascript:history.back()">Back</a>






