<div class="chefPortletContainer">
#if ($gridTime)
<p>
Grid log-in time remaining: <b> $gridTime </b>
<p>
Certificate Detail:
<PRE>
$gridText
</PRE>
<p>
<hr>
#else
You are not currently logged in with a Grid credential.  Without a 
Grid credential, you will be able to use the site, but will not be able
to perform any Grid operations which require a credential.
<p>
If you are having a problem, you should contact the administrator of 
this site.
#end
<p>
This site uses 
<a href="http://grid.ncsa.uiuc.edu/myproxy/" target="_new">myproxy</a>
to retrieve your Grid credentials.  To use this site 
with Grid credentials you must have "checked-in" your credentials
to the myproxy server (usually within the last 7 days).
<p>
The myproxy-init can be run on any system which holds your 
credentials including your desktop system.
The following is the procedure for using myproxy if your credentials
are stored on a UNIX system:
<ul>
<li>Log in to the UNIX system
<li><b>myproxy-init -s myproxy.nees.org</b>
<li>If your credentials are protected by a password, you will be
prompted for that password.
<li>Then you will be prompted for a phrase to protect the myproxy
credential - this password must be the same as your CHEF password.
<li>The account that you use to check in your myproxy credential must
also match your CHEF account.
<li>Once the credential is checked in, you can log into CHEF with 
the account and password and your Grid credential will automatically
be retrieved.
</ul>
This process must be repeated each time the proxy expires (default one week).
<p>
Here is sample output for this process on a UNIX system.  In this example, 
your CHEF account would be <b>crs</b>.
<pre>
  login as: crs    <b> <-- CHEF account</b>
  Sent username "crs"
  crs@neespop.ce.unr.edu's password:
  Last login: Tue May 1 12:43:15 from public-1234.si.umich.edu
  [crs@neespop crs]$ myproxy-init -s myproxy.nees.org
  Your identity: /C=US/O=National Computational Science Alliance/CN=Charles Severance
  Enter GRID pass phrase for this identity:    <b> <-- Credential password</b>
  Creating proxy ...................................... Done
  Your proxy is valid until Wed May 14 07:45:44 
  Enter MyProxy Pass Phrase:    <b> <-- CHEF password</b>
  Verifying password - Enter MyProxy Pass Phrase:
  A proxy valid for 168 hours (7.0 days) for user crs now exists on myproxy.nees.org.
  [crs@neespop crs]$
</pre>
<p>
If the account on the UNIX system does not match your CHEF account, you can add the <b>-l</b> parameter to your myproxy command:
<pre>
  [chuck@neespop chuck]$ myproxy-init -s myproxy.nees.org -l crs
</pre>
<p>
Because of the ability for myproxy-init to specify the login name, CHEF
stores the subject string (Identity in the above example) internally
for each user and demands
that either the credential password be idential to your CHEF password, or the 
credential identity be identical to the identity stored in CHEF for 
your account.
</div>
