<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"

    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Web Interface</display-name>
<!--	<listener>
		<listener-class>SessionListener</listener-class>
	</listener>-->
	<servlet>
		<servlet-name>AddNote</servlet-name>
		<display-name>AddNote</display-name>
		<servlet-class>

       uk.ac.dl.web.AddNote

    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

       uk.ac.dl.web.LoginServlet

    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SRBTransfer</servlet-name>
		<display-name>SRBTransfer</display-name>
		<servlet-class>

       uk.ac.dl.web.SRBTransfer
    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedoBasicSearch</servlet-name>
		<display-name>SRBTransfer</display-name>
		<servlet-class>

       uk.ac.dl.web.RedoBasicSearch
    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResendQuery</servlet-name>
		<display-name>ResendQuery</display-name>
		<servlet-class>

       uk.ac.dl.web.ResendQuery
    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SRBDownload</servlet-name>
		<display-name>SRBDownload</display-name>
		<servlet-class>

       uk.ac.dl.web.SRBDownload
    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>emineralsServlet</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

       uk.ac.dl.web.emineralsServlet

    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HelpSearch1</servlet-name>
		<display-name>HelpSearch</display-name>
		<servlet-class>

       uk.ac.dl.web.HelpSearch1

    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdvancedStudyServlet</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

	       uk.ac.dl.web.AdvancedStudyServlet

	    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Transfer</servlet-name>
		<display-name>Transfer Servlet</display-name>
		<servlet-class>

	       uk.ac.dl.web.Transfer

	    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransferDataSet</servlet-name>
		<display-name>Transfer DataSet</display-name>
		<servlet-class>
	
		       uk.ac.dl.web.TransferDataSet
	
		    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransferServlet</servlet-name>
		<display-name>Transfer Servlett</display-name>
		<servlet-class>
	
		       uk.ac.dl.web.TransferServlet
	
		    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileTransfer</servlet-name>
		<display-name>Transfer Servlett</display-name>
		<servlet-class>
	
		       uk.ac.dl.web.FileTransfer
	
		    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileDownload</servlet-name>
		<display-name>Transfer Servlett</display-name>
		<servlet-class>
	
		       uk.ac.dl.web.FileDownload
	
		    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteSelectedWS</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

	       uk.ac.dl.web.DeleteSelectedWS

	    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveCartServlet</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

		       uk.ac.dl.web.SaveCartServlet

		    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HelpSearchPage</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

       uk.ac.dl.web.HelpSearchPage

    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddToCart</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

       uk.ac.dl.web.AddToCart

    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCart</servlet-name>
		<display-name>DeleteCart</display-name>
		<servlet-class>

       uk.ac.dl.web.DeleteCart

    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HelpSearch</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

         uk.ac.dl.web.HelpSearch

      </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Explore</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

         uk.ac.dl.web.Explore

      </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BasicSearch</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

       uk.ac.dl.web.BasicSearch

    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExpandResultsServlet</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

         uk.ac.dl.web.ExpandResultsServlet

      </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogonHPC</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>

         uk.ac.dl.web.LogonHPC

      </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferServlet</servlet-name>
		<url-pattern>/servlet/TransferServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelpSearch1</servlet-name>
		<url-pattern>/servlet/HelpSearch1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCart</servlet-name>
		<url-pattern>/servlet/DeleteCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNote</servlet-name>
		<url-pattern>/servlet/AddNote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>emineralsServlet</servlet-name>
		<url-pattern>/servlet/emineralsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogonHPC</servlet-name>
		<url-pattern>/servlet/LogonHPC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferDataSet</servlet-name>
		<url-pattern>/servlet/TransferDataSet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileTransfer</servlet-name>
		<url-pattern>/servlet/FileTransfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/servlet/FileDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedoBasicSearch</servlet-name>
		<url-pattern>/servlet/RedoBasicSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SRBTransfer</servlet-name>
		<url-pattern>/servlet/SRBTransfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SRBDownload</servlet-name>
		<url-pattern>/servlet/SRBDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelpSearchPage</servlet-name>
		<url-pattern>/servlet/HelpSearchPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdvancedStudyServlet</servlet-name>
		<url-pattern>/servlet/AdvancedStudyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExpandResultsServlet</servlet-name>
		<url-pattern>/servlet/ExpandResultsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCart</servlet-name>
		<url-pattern>/servlet/AddToCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveCartServlet</servlet-name>
		<url-pattern>/servlet/SaveCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelpSearch</servlet-name>
		<url-pattern>/servlet/HelpSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSelectedWS</servlet-name>
		<url-pattern>/servlet/DeleteSelectedWS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Explore</servlet-name>
		<url-pattern>/servlet/Explore</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BasicSearch</servlet-name>
		<url-pattern>/servlet/BasicSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/servlet/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResendQuery</servlet-name>
		<url-pattern>/servlet/ResendQuery</url-pattern>
	</servlet-mapping>
	<!-- uncomment this if you want the admin servlet -->
	<!--

  <servlet-mapping>

    <servlet-name>AdminServlet</servlet-name>

    <url-pattern>/servlet/AdminServlet</url-pattern>

  </servlet-mapping>
-->
 
	<welcome-file-list id="WelcomeFileList_1">
		<welcome-file>ematerials.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.jws</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>/tldweb</taglib-uri>
		<taglib-location>/tld/glen.tld</taglib-location>
	</taglib>
</web-app>
