<form action="$jslink.Template" method="post">
  <font color="$!{skin.Color}">
    <br>
    <h2>Fill out the following parameters and click 'Get Proxy' to retrieve
	your proxy from the MyProxy server specified below:</h2>
    <table>
    <tr >
      <td align="right">Hostname:</td>
      <td><input name="hostname" value="$!hostname" size="30"></td>
    </tr><tr>
      <td align="right">Port:</td>
      <td><input name="port" value="$port" size="5"></td>
    </tr><tr>
      <td align="right">Username:</td>
      <td><input name="username" value="$!username" size="30"></td>
    </tr><tr>
      <td align="right">Password:</td>
      <td><input type="password" name="password" value="" size="30"></td>
    </tr><tr>
      <td align="right">Lifetime:</td>
      <td><input name="lifetime" value="$lifetime" size="5"> &nbsp (hours)</td>
    </tr><tr>
      <td colspan=2 align="left">Store for duration of user session only? &nbsp
      <input type=checkbox name="session_only" $session_only checked></td>
    </tr><tr>
      <td align="left" width=100% colspan=2>
        <br>
	<p><font style="color: $skin.getTitleBackgroundColor()">Note</font>:
	   the lifetime of your GSI proxy credential will depend on the maximum
	   lifetime specified for delegated credentials when you stored your
	   long-term GSI proxy credential in the MyProxy server (by default 2
	   hours).
	</p>
	<br>
        <p>
        <input type="submit" name="eventSubmit_doGet_proxy" value="Get Proxy" style="font-size:10; background-color: $skin.getTitleBackgroundColor()">
	</p>
      </td>
    </tr>
    </table>
  </font>
</form>
