<font color="$!{skin.Color}">
<br>
<table>
<tr>
  <td><b>Subject</b>:</td>
  <td>$proxy.getSubject()</td>
</tr><tr>
  <td><b>Issuer</b>:</td>
  <td>$proxy.getIssuer()</td>
</tr><tr>
  <td><b>Bits</b>:</td>
  <td>$proxy.getStrength()</td>
</tr><tr>
  <td><b>Time Left</b>:</td>
  <td>$time_left</td>
</tr><tr>
  <td><b>Limted</b>:</td>
#if ( $proxy.getIsLimitedProxy() )
  <td>yes<td>
#else
  <td>no<td>
#end
</tr>
</table>
<br>
<form action="$jslink.Template" method="post">
    <input type="submit" name="eventSubmit_doReturn" value="Click here to continue" style="font-size:10; background-color: $skin.getTitleBackgroundColor()">
</form>
</font>
