## Xiaobo Yang, CCLRC e-Science Centre, 14 December 2004
##
<div class="chefPortletContainer">
  #if ($menu)
    #toolbar($menu)
  #end
  <div class="chefPortletContent">
    #if ($alertMessage)
      <div class="chefAlertBox">
        Alert: $validator.escapeHtml($alertMessage)
      </div>
    #end
    <div class="chefPageviewTitle">
      Fill out the following parameters and click 'Get Proxy' to retrieve
	your proxy from the MyProxy server specified below.
    </div>
##
    <form name="$form-name" id="$form-name" action="#toolForm("$action")" method="post">
      <fieldset>
        <legend>Get GSI Proxy Credential</legend>
        <table class="chefEditItem" summary="Getting GSI Proxy Credential">
          <tr>
            <td class="chefLabel">
              <label for="hostname">Hostname:</label>
            </td>
            <td>
              <input type="text" name="hostname" id="hostname" size="30"
                #if ($hostname && $hostname!="")
                  value="$hostname"
                #else
                  value="myproxy.grid-support.ac.uk"
                #end
              />
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="port">Port:</label>
            </td>
            <td>
              <input type="text" name="port" id="port" size="6"
                #if ($port && $port!="")
                  value="$port"
                #else
                  value="7512"
                #end
              />
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="username">Username:</label>
            </td>
            <td>
              <input type="text" name="username" id="username" size="30" value="$!username"/>
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="password">Password:</label>
            </td>
            <td>
              <input type="password" name="password" id="password" size="30" value=""/>
            </td>
          </tr>
          <tr>
            <td class="chefLabel">
              <label for="lifetime">Lifetime:</label>
            </td>
            <td>
              <input type="text" name="lifetime" id="lifetime" size="6"
                #if ($lifetime && $lifetime!="")
                  value="$lifetime"
                #else
                  value="2"
                #end
              /> &nbsp hour(s)
            </td>
          </tr>
          <tr>
            <td colspan=2 align="left">Store for duration of user session only? &nbsp
              <input type=checkbox name="session_only" $session_only checked>
             </td>
          </tr>
        </table>
      </fieldset?

	<p>Note:
	   the lifetime of your GSI proxy credential will depend on the maximum
	   lifetime specified for delegated credentials when you stored your
	   long-term GSI proxy credential in the MyProxy server (by default 2
	   hours).
	</p>

      <div class="chefButtonRow">
        <input type="submit" name="eventSubmit_doGetproxy" value="Get Proxy">
      </div>
##
    </form>
  </div>
</div>
