#**
 LDAP Browser Portlet
@author <a href="mailto:lifang@extreme.indiana.edu">Liang Fang</a>
**#

<b><font style="font-size:16">LDAP Server URL: $ldaphostname:$ldaphostport </font></b>
<br/>
<i>
#if($dn)
  #if($entries)
    <font style="font-size:16"><b>Current Node: $dn</b> </font>
  #else
    <font style="font-size:16"><b>Current Directory: $dn</b> </font>
  #end
#else
  <font style="font-size:16">No Directory specified!</font>
#end
</i>

#if($errmsg)
  <font style="color:red; font-size:14"> Error:  </font><br/>
  <font style="color:red; font-size:12"> $errmsg </font>
  <p/>
#end
<br/>

#if($links)
  <table>
    #if($parent)
    <tr><td width=40px>
      #set ($link=$jslink.addQueryData("ldaphostname", $ldaphostname).addQueryData("ldaphostport",$ldaphostport).addQueryData("dn", $parent).setAction("xportlets.LdapBrowserAction"))
      <a href='$link'><img src=${ctxpath}/images/xportlets/back.gif alt=parent border="0"></a><br/>
    </td><td></td></tr>
    #end
  #foreach ($alink in $links)
    <tr>
    #set ($link=$jslink.addQueryData("ldaphostname", $ldaphostname).addQueryData("ldaphostport",$ldaphostport).addQueryData("dn", $alink.Link).setAction("xportlets.LdapBrowserAction"))
    #set ($llink=$link.addQueryData("mode","leaf"))
    <td width=40px>
      <a style="font-size:12" href='$llink'><img src=${ctxpath}/images/xportlets/file.gif  alt=leaf border="0"></a>
      #if(!($alink.Leaflag=="1"))
        #set ($link=$jslink.addQueryData("ldaphostname", $ldaphostname).addQueryData("ldaphostport",$ldaphostport).addQueryData("dn", $alink.Link).setAction("xportlets.LdapBrowserAction"))
        <a href='$link'><img src=$alink.Piclink alt=folder border="0"></a>
      #end
    </td>
    #if(!($alink.Leaflag=="1"))
      <td><a href='$link'>$alink.Name</a></td>
    #else
      <td><a href='$llink'>$alink.Name</a></td>
    #end
    </tr>
  #end
  </table>
#end

#if($entries)
  #set ( $headings = ["Attribute", "Value"] )
  <table border="true" cellspacing="1" cellpadding="3">
    <tr>
      #foreach ($heading in $headings)
      #headerCell ($heading)
      #end
    </tr>

    #foreach ($entry in $entries)
      <tr>
        #entryCell ($entry.Name)
        #entryCell ($entry.Value)
      </tr>
    #end
  </table>
  <p/>

  #if($service!="") 
    <form action=$jslink.Template method="post">
      Choose a method:<br/>
      #foreach ($method in $methods)
        <input type=radio name=method value=$method>$method<br/>
      #end
      <input type=hidden name=service value=$service> 
      <input type="submit" name="eventSubmit_doGotoservice" value="Go to ${service}" style="font-size:10; background-color: $skin.getTitleBackgroundColor()"> 
    </form>
  #end
  <p/>

#set ($backlink=$jslink.addQueryData("ldaphostname", $ldaphostname).addQueryData("ldaphostport",$ldaphostport).addQueryData("dn", $parent).setAction("xportlets.LdapBrowserAction"))
<a href="$backlink">Back to Directory</a>
#end


<hr/>
<font style="font-size:14"><b>Direction:</b></font><br/>

<font style="font-size:12">
Click <img src=${ctxpath}/images/xportlets/folder.gif alt=dir> to get the subdirectory or <img src=${ctxpath}/images/xportlets/file.gif alt=leaf> to get the attributes of the node, either a leaf or a subdirectory. Click <img src=${ctxpath}/images/xportlets/back.gif alt=parent> to return to the upper level.
<p/>
If a leaf is a service, a "Go to service" button will show under the attribute table with all available methods for choice. Choose one of the choices and click the button. On the next page show all the required parameters. Enter all the parameters and click "Invoke" button, you will get the result on the next page.
</font>









