# PORTNAME defines the OS platform of this SRB port.
# Valid PORTNAMEs are PORTNAME_solaris, PORTNAME_sunos, PORTNAME_aix
# PORTNAME_alpha, PORTNAME_c90 (both c90 and t3e use this switch), PORTNAME_sgi
# PORTNAME_osx - Apple OS X, PORTNAME_linux
PORTNAME=PORTNAME_linux

# SRB_LARGEFILE64 defines whether the 64 bit file size is supported by the
# underlining driver of this SRB server.
# Current, 64 bit file size is supported by the PORTNAME_solaris, PORTNAME_aix, 
# PORTNAME_linux and PORTNAME_c90 platforms.
SRB_LARGEFILE64=1

# ADDR_64BIT defines whether to compile for 64 bits address. This option
# has only been tested for the the Solaris and Linux platforms.
# ADDR_64BIT=1

# makes client-server connections to be fast by switching off Nagle Algorithm in TCPIP
# this flag will remove the Nagle algorithm optimization
# comment this out if you want the Nagle algorithm optimization
TCPNODELAYFLAG =  1

# PARA_OPR defines whether this SRB server supports parallel operation API.
PARA_OPR = 1

# MDAS_AUTH - defines whether the plain text and encrypted password MDAS
# authorization scheme will be supported. If used, the user/passwd pair
# registered with the MDAS catalog will be used to authenticate a user.
# Comment it out if the SRB server does not support MDAS authorization.
# NOTE : A server can be built to support any combination of MDAS_AUTH,
# SEA_AUTH and GSI_AUTH.
MDAS_AUTH = 1

# COMM_PORT_NUM_COUNT - defines the number of allowable ports starting at
# COMM_PORT_NUM_START. 
#
# Uncomment and modify to match your the SRB server settings (if required)
#COMM_PORT_NUM_COUNT = 200
#COMM_PORT_NUM_START = 


# FED_MCAT - defines whether the the federated MCAT is supported
FED_MCAT = 1
