<form action="$jslink.Template" method="post">
  <font color="$!{skin.Color}">
    <br>
    <h2>Fill out the parameters below and click 'Customize' to change the
        default settings for your MyProxy server:</h2>
    <table>
    <tr align="right">
      <td>Hostname:</td>
      <td><input name="hostname" value="$hostname" size="30"></td>
    </tr><tr>
      <td align="right">Port:</td>
      <td><input name="port" value="$port" size="5"></td>
    </tr><tr>
      <td align="right">Username:</td>
      <td><input name="username" value="$username" size="30"></td>
    </tr><tr>
      <td align="right">Lifetime:</td>
      <td><input name="lifetime" value="$lifetime" size="5"> &nbsp (hours)</td>
    </tr><tr>
      <td colspan=2 align="left">Store for duration of user session only? &nbsp
      <input type=checkbox name="session_only" $session_only></td>
    </tr><tr>
      <td align="middle" colspan=2>
	<br>
        <p>
        <input type="submit" name="eventSubmit_doCustomize" value="Customize" style="font-size:10; background-color: $skin.getTitleBackgroundColor()">
	</p>
      </td>
    </tr>
    </table>
  </font>
</form>
